:root {
	--accent-color: hsl(0, 60%, 50%);
	--light-bg: hsl(210, 10%, 95%);
	--page-width: 60rem;
}

html {
	--grid-line: linear-gradient(rgba(0,0,0,.05) 1px, transparent 0), linear-gradient(to right, rgba(0,0,0,.05) 1px, transparent 0);
	background-image: radial-gradient(circle at 100% 100%, transparent 20em, white 40em), var(--grid-line), var(--grid-line);
	background-size: auto, 1em 1em, 1em 1em, 5em 5em, 5em 5em;
	background-attachment: fixed;
	min-height: 100vh;
}

body {
	max-width: var(--page-width);
	margin: auto;
	font: 100%/1.5 Helvetica Neue, Helvetica, sans-serif;
}

a {
	color: hsl(0, 60%, 50%);
}

	a:not(:hover) {
		text-decoration: none;
	}

h2 {
	font-weight: 200;
	font-size: 260%;
	line-height: 1.1;
}

p {
	hyphens: auto;
}

header {
	display: flex;
	padding: .5em 0;

	& h1 {
		margin: 0;
		margin-left: -.35em;
	}
}

	nav {
		position: relative;
		margin: auto 0 0 auto;
		background: var(--light-bg);
		width: calc(var(--page-width) - 26rem);
		box-shadow: 0 0 0 1px var(--accent-color) inset;
	}

		nav::before {
			content: "";
			position: absolute;
			top: 0;
			right: -50vw;
			bottom: 0;
			left: -50vw;
			z-index: -1;
			background: inherit;
		}

		nav ul {
			display: flex;
			margin: 0;
			padding: 0;

			& li {
				flex-basis: content;
				flex-grow: 1;
				list-style: none;

				& a {
					display: block;
					padding: .8em;
					font-weight: bold;
					text-align: center;

					&:hover {
						background: var(--accent-color);
						color: var(--light-bg);
						text-decoration: none;
					}
				}
			}
		}

#intro {
	display: flex;
	margin-top: 1rem;
	color: hsl(210, 10%, 60%);
	font-weight: bold;
	font-size: 120%;

	& > h2 {
		flex-grow: 0;
		flex-shrink: 0;
		margin-bottom: 0;
		font-weight: bold;
		font-size: 160%;
		color: hsl(210, 10%, 70%);
		max-width: 26rem;

		& strong {
			display: block;
			color: hsl(210, 10%, 40%);
			color: var(--accent-color);
		}
	}

	& :matches(h2, p) {
		margin: 0;
	}

	& p {
		text-align: justify;
		letter-spacing: -.01em;
	}
}

[property="member"] {
	display: inline-block;
	text-align: center;
	width: 12em;

	& img {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		object-fit: cover;
		background: hsl(210, 10%, 90%);
	}

	& :matches(h3, p) {
		margin: 0;
	}
}

[property="project"] {

}

.mv-logged-out .mv-login {
	font-size: smaller;

	&::before {
		content: "✏️ "
	}
}

footer {

}
