html {
	--grid-line: linear-gradient(rgba(0,0,0,.05) 1px, transparent 0), linear-gradient(to right, rgba(0,0,0,.05) 1px, transparent 0);
	background-image: radial-gradient(circle at 100% 100%, transparent 20em, white 40em), var(--grid-line), var(--grid-line);
	background-size: auto, 1em 1em, 1em 1em, 5em 5em, 5em 5em;
	min-height: 100vh;
}

body {
	max-width: 60rem;
	margin: auto;
	font: 100%/1.5 Helvetica Neue, Helvetica, sans-serif;
}

a {
	color: hsl(0, 60%, 50%);
}

	a:not(:hover) {
		text-decoration: none;
	}

h2 {
	font-weight: 200;
	font-size: 260%;
	line-height: 1.1;
}

p {
	-webkit-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .5em 0
}

header h1 {
	margin: 0;
	margin-left: -.35em;
}

	nav {
		position: relative;
		margin: auto 0 0 auto;
		background: hsl(210, 10%, 95%);
		width: calc(60rem - 26rem);
		-webkit-box-shadow: 0 0 0 1px hsl(0, 60%, 50%) inset;
		        box-shadow: 0 0 0 1px hsl(0, 60%, 50%) inset;
	}

		nav::before {
			content: "";
			position: absolute;
			top: 0;
			right: -50vw;
			bottom: 0;
			left: -50vw;
			z-index: -1;
			background: inherit;
		}

		nav ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin: 0;
			padding: 0
		}

		nav ul li {
	-ms-flex-preferred-size: content;
	    flex-basis: content;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	list-style: none;
}

		nav ul li a {
	display: block;
	padding: .8em;
	font-weight: bold;
	text-align: center;
}

		nav ul li a:hover {
	background: hsl(0, 60%, 50%);
	color: hsl(210, 10%, 95%);
	text-decoration: none;
}

#intro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 1rem;
	color: hsl(210, 10%, 60%);
	font-weight: bold;
	font-size: 120%
}

#intro > h2 {
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 160%;
	color: hsl(210, 10%, 70%);
	max-width: 26rem;
}

#intro > h2 strong {
	display: block;
	color: hsl(210, 10%, 40%);
	color: hsl(0, 60%, 50%);
}

#intro h2,
#intro p {
	margin: 0;
}

#intro p {
	text-align: justify;
	letter-spacing: -.01em;
}

[mv-app="people"][mv-permissions~="login"] .mv-bar {
	display: none;
}

[mv-app="people"][mv-permissions~="logout"] .if-logged-out {
	display: none;
}

[property="member"] {
	display: inline-block;
	text-align: center;
	width: 12em
}

[property="member"] img {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	-o-object-fit: cover;
	   object-fit: cover;
	background: hsl(210, 10%, 90%);
}

[property="member"] h3,
[property="member"] p {
	margin: 0;
}

footer {

}
