@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@font-face {
	font-family: "Haystack Icons";
	src: url("fonts/haystack-icons.woff");
}

*, ::before, ::after {
	background: radial-gradient(circle at 100% 100%, transparent 20em, var(--grid-background) 40em) 100% 100% fixed,
	            linear-gradient(rgba(0,0,0,.05) 1px, transparent 0) 100% 100% / 5em 5em fixed,
				linear-gradient(to right, rgba(0,0,0,.05) 1px, transparent 0) 100% 100% / 5em 5em fixed,
				linear-gradient(rgba(0,0,0,.05) 1px, transparent 0) 100% 100% / 1em 1em fixed,
				linear-gradient(to right, rgba(0,0,0,.05) 1px, transparent 0) 100% 100% / 1em 1em fixed
				var(--grid-background);
	--grid-background: initial;
}

html {
	--grid-background: white;
	min-height: 100vh;
}

body {
	max-width: 60rem;
	padding: 0 1rem;
	margin: auto;
	font: 100%/1.5 Helvetica Neue, Roboto, Helvetica, sans-serif;
}

a {
	color: hsl(0, 60%, 50%);
}

	a:not(:hover) {
		text-decoration: none;
	}

h2 {
	font-weight: 300;
	font-size: 260%;
	line-height: 1.1
}

h2 > a {
	text-decoration: none;
}

h2 > a:not(:hover) {
	color: inherit;
}

p {
	-webkit-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

button {
	cursor: pointer;
	font: inherit;
}

/* Full width */
header,
body > footer {
	position: relative
}
header::before, body > footer::before {
	content: "";
	position: absolute;
	left: calc(-50vw + 50%);
	top: 0;
	bottom: 0;
	width: 100vw;
	z-index: -1;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 4.5em 0 .5em;
	background: hsl(210, 10%, 95%)
}

header::before {
	background: inherit;
}

header h1 {
	margin: 0;
	min-width: 2em;
}

header h1 object {
	position: absolute;
	top: -2em;
	left: -.3em;
}

header nav {
	margin: auto 0 0 auto;
	width: calc(60rem - 26rem);
	-webkit-box-shadow: 0 0 0 1px hsl(0, 60%, 50%) inset;
	        box-shadow: 0 0 0 1px hsl(0, 60%, 50%) inset;
}

header nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
}

header nav ul li {
	-ms-flex-preferred-size: content;
	    flex-basis: content;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	list-style: none;
}

header nav ul li a {
	display: block;
	padding: .8em;
	font-weight: bold;
	text-align: center;
}

header nav ul li a:hover {
	background: hsl(0, 60%, 50%);
	color: hsl(210, 10%, 95%);
	text-decoration: none;
}

@media (max-width: 550px) {

	header {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	header h1 object {
		position: static;
	}

	header nav {
		width: auto;
	}

	header nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
	}
}

#intro {
	margin-top: 1rem;
	color: hsl(210, 10%, 50%);
	font-weight: bold;
	font-size: 120%;
}

@media (min-width: 800px) {

	#intro {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	#intro > h2 {
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
		-ms-flex-negative: 0;
		    flex-shrink: 0;
		margin-bottom: 0;
		max-width: 26rem;
	}

	#intro h2,
#intro p {
		margin: 0;
	}
}

#intro > h2 {
	font-weight: bold;
	font-size: 160%;
	color: hsl(210, 10%, 70%);
}

#intro > h2 strong {
	display: block;
	color: hsl(0, 60%, 50%);
}

#intro p {
	text-align: justify;
	letter-spacing: -.01em;
}

[mv-list-item][property="member"] {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 12em
}

[mv-list-item][property="member"] img {
	display: inline-block;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	-o-object-fit: cover;
	   object-fit: cover;
}

[mv-list-item][property="member"] h3,
[mv-list-item][property="member"] p {
	margin: 0;
}

[mv-list-item][property="member"] .social {
	margin-top: .2em;
	font-size: 120%;
}

[mv-list-item][property="project"] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 2em
}

[mv-list-item][property="project"] > div {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

[mv-list-item][property="project"] [property=image] {
	width: 10em;
	height: 10em;
	margin-right: 1em;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: .3em;
	-webkit-box-shadow: 0 0 .3em rgba(0,0,0,.1);
	        box-shadow: 0 0 .3em rgba(0,0,0,.1);
}

[mv-list-item][property="project"] h3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
}

[mv-list-item][property="project"] h3 > a:first-of-type {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

[mv-list-item][property="project"] h3 > a:first-of-type[href]:not([href=""])::after {
	content: "(" attr(href) ")";
	font-weight: 300;
}

[mv-list-item][property="project"] footer {
	margin-top: .5em;
	padding-top: .5em;

	/* background: linear-gradient(var(--gray-medium), var(--gray-medium)) no-repeat 0 0 / 2em .3em; */
	color: hsl(210, 10%, 70%);
	font-weight: bold;
}

[mv-list-item][property="project"] footer img {
	display: inline-block;
	vertical-align: middle;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	-o-object-fit: cover;
	   object-fit: cover;
	background: hsl(210, 10%, 90%);
}

[mv-list-item][property="project"] footer a {
	text-decoration: none;
}

[mv-list-item][property="project"] footer a:not(:hover) {
	color: hsl(210, 10%, 50%);
}

[mv-list-item][property="publication"] {
	padding: .5em 0;
	margin-bottom: .5em
}

[mv-list-item][property="publication"] h3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

[mv-list-item][property="publication"] h3 > a:first-child {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

[mv-list-item][property="publication"] p,
[mv-list-item][property="publication"] h3 {
	margin: 0;
}

[property="author"]:not(:first-of-type)::before {
	content: ", ";
}

img[property] {
	background: hsl(210, 10%, 90%);
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center
}

.social > a {
	display: inline-block;
	width: 1em;
	padding: .1em .3em;
	border-radius: 50%;
	margin: 0 .1em;
	text-align: center;
}

.social > a:hover {
	background: var(--color);
	color: white;
}

a.twitter {
	--color: #1da1f2;
}

a.github {
	--color: black;
}

a.document {
	--color: hsl(0, 60%, 50%);
}

.social > a, .twitter, .github, .document {
	font-family: Haystack Icons;
	text-decoration: none;
	font-weight: normal;
}

.social > a {
	color: var(--color);
}

main > section > footer {
	margin-top: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .5em .8em;
	border-radius: .3em;
	--grid-background: hsl(210, 10%, 90%);
}

main > section > footer > .older {
	text-decoration: none;
	font-weight: bold;
}

main > section > footer > .older:not(:hover) {
	color: hsl(210, 10%, 50%);
}

main > section > footer > .older::before {
	content: "🕰 ";
	font-family: Haystack Icons;
	font-weight: normal;
}

main > section > footer p.mv-logged-out {
	margin: 0;
	margin-left: auto;
	text-align: right;
}

main > section > footer p.mv-logged-out .mv-login {
	text-decoration: none;
	font-weight: bold;
}

main > section > footer p.mv-logged-out .mv-login:not(:hover) {
	color: hsl(210, 10%, 70%);
}

main > section > footer p.mv-logged-out .mv-login::before {
	content: "✏️ ";
	font-family: Haystack Icons;
	font-weight: normal;
}

body > footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	padding: 1rem 0;
	margin-top: 2em
}

body > footer::before {
	--grid-background: hsl(210, 10%, 90%);
}

body > footer > p {
	margin: 0;
}

@media (min-width: 460px) {

	body > footer > p {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
	}
}

body > footer a.logo {
	height: 3em;
	margin: 0 .5em;
}

body > footer a.logo > img {
	height: 100%;
}

.mv-add.mv-ui {
	display: inline-block;
	padding: .25em .5em;
	border: 0;
	border-radius: .3em;
	background: hsl(210, 10%, 70%);
	color: white;
	font-weight: bold
}

.mv-add.mv-ui:hover {
	background: hsl(0, 60%, 50%);
}

.mv-add-author {
	margin-left: .5em;
	font-size: 50%;
}

.read-only .mv-bar {
    display: none
}
