/* blue color scheme */

#headerimg {
	background-image: url(header_default.png);
}

#headerimg h1, #headerimg h1 a { color: #a8d6ff; }
#headerimg .description { color: #fff; }

a,
h2 a:hover,
h3 a:hover,
.praized-merchant-item h2 a {
	color: #007fff;
	text-decoration: none;
}

a.praized-action,
ins.praized-add-to-favorites * {
	color: #007fff;
	background: #deeefc;
}

a.praized-action:hover,
ins.praized-add-to-favorites button:hover {
	color: #fff;
	background: #007fff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

button {
	background:#007fff;
	border: 1px outset #007fff;
}

button:hover, button:active, button:focus { background:#11569b; outline: 0; }