/* purple color scheme */

#headerimg {
	background-image: url(header_default.png);
}

#headerimg h1, #headerimg h1 a { color: #ffd6a9; }
#headerimg .description { color: #ab7b93; }

a,
h2 a:hover,
h3 a:hover,
.praized-merchant-item h2 a {
	color: #7b4786;
	text-decoration: none;
}

a.praized-action,
ins.praized-add-to-favorites * {
	color: #7b4786;
	background: #fff1e3;
}

a.praized-action:hover,
ins.praized-add-to-favorites button:hover {
	color: #fff;
	background: #431479;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

button {
	background:#7b4786;
	border: 1px outset #7b4786;
}

button:hover, button:active, button:focus { background:#431479; outline: 0; }