DirectoryIndex index.php

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST} ^groups.csail.mit.edu
RewriteRule ^(.*)$ http://haystack.csail.mit.edu/blog/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# this URL was redirecting to itself infinitely, causing brain-dead robots
# to flood the webserver with requests
# Following line disables access to /wp-admin --arthurp (tig), 2010-03-25
RewriteCond %{REQUEST_URI} !^/blog/wp-admin.*$
RewriteRule . /blog/index.php [L]

</IfModule>
