DirectoryIndex index.php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /haystack/blog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /haystack/blog/index.php [L]
</IfModule>
