/* orange color scheme */

#headerimg {
	background-image: url(header_default.png);
}

#headerimg h1, #headerimg h1 a { color: #fff; }
#headerimg .description { color: #ffd579; }

a,
h2 a:hover,
h3 a:hover,
.praized-merchant-item h2 a {
	color: #ff7d41;
	text-decoration: none;
}

a.praized-action,
ins.praized-add-to-favorites * {
	color: #ff7d41;
	background: #f2ecd6;
}

a.praized-action:hover,
ins.praized-add-to-favorites button:hover {
	color: #fff;
	background: #ff7d41;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

button {
	background:#ff7d41;
	border: 1px outset #ff7d41;
}

button:hover, button:active, button:focus { background:#ff4d20; outline: 0; }