/* black color scheme */

#headerimg {
	background-image: url(header_default.png);
}

#headerimg h1, #headerimg h1 a { color: #fff; }
#headerimg .description { color: #c2c2c2; }

a,
h2 a:hover,
h3 a:hover,
.praized-merchant-item h2 a {
	color: #000;
	text-decoration: none;
}

a.praized-action,
ins.praized-add-to-favorites * {
	color: #000;
	background: #e6e6e6;
}

a.praized-action:hover,
ins.praized-add-to-favorites button:hover {
	color: #fff;
	background: #000;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

button {
	background:#4f4f4f;
	border: 1px outset #4f4f4f;
}

button:hover, button:active, button:focus { background:#000; outline: 0; }